@font-face {
  font-family: 'Gopher';
  src: url('./gopher/gopher-bold.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Gopher';
  src: url('./gopher/gopher-medium.otf') format('opentype');
  font-weight: 500;
  font-style: medium;
}

@font-face {
  font-family: 'Gopher';
  src: url('./gopher/gopher-bold.otf') format('opentype');
  font-weight: 700;
  font-style: bold;
}
