@font-face {
  font-family: 'Radiant';
  src: url('./radiant/radiant.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Radiant';
  src: url('./radiant/radiant.otf') format('opentype');
  font-weight: 700;
  font-style: normal;
}